
<h1>The Shelve</h1>
{{#each movie as |movie|}}
  <section class="card">
    <a href="/movie/{{id}}" class="card-body">
        <img src="{{img}}" class="movie-poster"> 
        <h5>Movie: {{movie.title}}</h5>
        <h5> Rating:{{movie.rating}}</h5>
        <p class="card-text">{{description}}</p>
    </a>
  </section>
{{/each}}
{{!-- {{> movie-details}} --}}

{{!-- {{/each}} --}}