<h1>The Shelve</h1>
{{#each post as |post|}}
  <section class="card">
    <a href="/movie/{{id}}" class="card-body">
        <img class="movie-poster">{{img}}</h3> 
        <h5>Movie: {{movie.title}} Rating:{{movie.rating}}</h5>
        <p class="card-text">{{description}}</p>
    </a>
  </section>
{{/each}}