<section class="movies-smaller">
    {{!-- <img src="{{movieData.img}}"> --}}

    <div class="movies-smaller-details">
        <img src="{{movieData.img}}">

        <h3>{{movieData.title}}</h3>
        <p>Genre: {{movieData.genre}}</p>
        <p>Format: {{movieData.format}}</p>
        <p>Watched: {{movieData.watched}}</p>
        <p>Description: {{movieData.description}}</p>
        <p>Rating: {{movieData.rating}}</p>
    </div>
</section>