<section class="movies-smaller">
    <img src="/movie/{{img}}">

    <div class="movies-smaller-details">
        {{!-- <img src="{{movie.img}}"> --}}
        <h3>{{movie.title}}</h3>
        <p>Genre: {{movie.genre}}</p>
        <p>Format: {{movie.format}}</p>
        <p>Watched:{{movie.watched}}</p>
        <p>Description:{{movie.description}}</p>
        <p>Rating:{{movie.rating}}</p>
    </div>
</section>